@import '../../stylesheets/Master.scss';

.main-page-container {
  @include GridSystem($desktopGrid);
}

.main-title-container,
.main-content-container {
  @include Columns(3, 9);
}

.main-copy-container {
  width: 25%;
  margin: 0 auto;
}

.main-button-wrapper {
  width: 290px;
  display: block;
  margin: 0 auto $small;
}

.joke-text {
  @include Type700();
}

@media #{$tablet} {
  .main-page-container {
    @include GridSystem($tabletGrid);
  }

  .main-copy-container {
    width: 35%;
    margin: 0 auto;
  }
}

@media #{$tabletPortrait} {
  .app-container {
    @include GridSystem($tabletPortraitGrid);
  }

  .main-title-container,
  .main-content-container {
    @include Columns(1, 11);
  }

  .main-copy-container {
    width: 15%;
    margin: 0 auto;
  }
}

@media #{$phablet} {
  .main-page-container {
    @include GridSystem($phabletGrid);
  }
}

@media #{$mobile} {
  .main-page-container {
    @include GridSystem($mobileGrid);
  }

  .main-copy-container {
    width: 35%;
    margin: 0 auto;
  }

  .main-title-container,
  .main-content-container {
    @include Columns(1, 11);
  }
}

@media #{$mobilePortrait} {
  .main-page-container {
    @include GridSystem($mobilePortraitGrid);
  }

  .main-copy-container {
    width: 50%;
    margin: 0 auto;
  }

  .main-title-container,
  .main-content-container {
    @include Columns(1, 11);
  }
}