/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* 
$buttonProps: (
  backgroundColor: [SOMEVALUE],
  border: [SOMEVALUE],
  color: [SOMEVALUE],
  backgroundHover: [SOMEVALUE],
  borderHover: [SOMEVALUE],
  colorHover: [SOMEVALUE],
);
*/
.main-page-container {
  grid-column-start: 1;
  grid-column-end: 11; }

.main-title-container,
.main-content-container {
  grid-column-start: 3;
  grid-column-end: 8; }

.main-button-wrapper {
  width: 150px;
  display: block;
  margin: 0 auto; }

@media (min-width: 1px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-title-container,
  .main-content-container {
    grid-column-start: 1;
    grid-column-end: 11; } }

@media (min-width: 1px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .main-title-container,
  .main-content-container {
    grid-column-start: 1;
    grid-column-end: 11; } }
