@import '../../stylesheets/Master.scss';

.main-page-container {
  @include GridSystem($desktopGrid);
}

.main-title-container,
.main-content-container {
  @include Columns(3, 8);
}

.main-copy-container {
  @include Columns(2, 9);
}

.main-button-wrapper {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.joke-text {
  @include Type700();
}

@media #{$tablet} {
  .main-page-container {
    @include GridSystem($tabletGrid);
  }
}

@media #{$tabletPortrait} {
  .app-container {
    @include GridSystem($tabletPortraitGrid);
  }
}

@media #{$phablet} {
  .main-page-container {
    @include GridSystem($phabletGrid);
  }
}

@media #{$mobile} {
  .main-page-container {
    @include GridSystem($mobileGrid);
  }

  .main-title-container,
  .main-content-container,
  .main-copy-container {
    @include Columns(1, 11);
  }
}

@media #{$mobilePortrait} {
  .main-page-container {
    @include GridSystem($mobilePortraitGrid);
  }

  .main-title-container,
  .main-content-container,
  .main-copy-container {
    @include Columns(1, 11);
  }
}