/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
p {
  text-align: justify;
  justify-content: inter-word; }

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
p {
  text-align: justify;
  justify-content: inter-word; }

/* 
$buttonProps: (
  backgroundColor: [SOMEVALUE],
  border: [SOMEVALUE],
  color: [SOMEVALUE],
  backgroundHover: [SOMEVALUE],
  borderHover: [SOMEVALUE],
  colorHover: [SOMEVALUE],
);
*/
.extra-bold-title {
  font-weight: 900;
  color: #141414;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.1em;
  text-align: center; }

.bold-title {
  font-weight: 700;
  color: #141414;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.1em;
  text-align: center; }

.light-title {
  font-weight: 400;
  color: #141414;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.1em;
  text-align: center; }
