/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
p {
  text-align: justify;
  justify-content: auto; }
  p:after {
    content: "";
    display: inline-block;
    width: 100%; }

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
p {
  text-align: justify;
  justify-content: auto; }
  p:after {
    content: "";
    display: inline-block;
    width: 100%; }

/* 
$buttonProps: (
  backgroundColor: [SOMEVALUE],
  border: [SOMEVALUE],
  color: [SOMEVALUE],
  backgroundHover: [SOMEVALUE],
  borderHover: [SOMEVALUE],
  colorHover: [SOMEVALUE],
);
*/
@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.spinner {
  height: 100px;
  width: 100%;
  position: relative; }
  .spinner::before {
    content: "";
    animation: spinner 1s linear infinite;
    border: solid 10px #141414;
    border-bottom-color: #727272;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50;
    margin-left: -50px; }
