@import '../../stylesheets/Master.scss';


@keyframes spinner {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg); }
}

.spinner {
  height: 100px;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    animation: spinner 1s linear infinite;
    border: solid 10px $black;
    border-bottom-color: $gray;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50;
    margin-left: -50px;
  }
}
