/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
p {
  text-align: justify;
  justify-content: auto; }
  p:after {
    content: "";
    display: inline-block;
    width: 100%; }

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ------------- Phablet ------------------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
p {
  text-align: justify;
  justify-content: auto; }
  p:after {
    content: "";
    display: inline-block;
    width: 100%; }

/* 
$buttonProps: (
  backgroundColor: [SOMEVALUE],
  border: [SOMEVALUE],
  color: [SOMEVALUE],
  backgroundHover: [SOMEVALUE],
  borderHover: [SOMEVALUE],
  colorHover: [SOMEVALUE],
);
*/
.categories-page-container {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  column-gap: 10px;
  justify-content: center; }

.categories-title-container,
.categories-content-container {
  grid-column-start: 2;
  grid-column-end: 10; }

.categories-list-container,
.categories-button-wrapper {
  width: 150px;
  margin: 0 auto; }

.categories-list {
  padding-left: 0; }

.categories-list-item {
  list-style-type: none; }

@media screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .categories-page-container {
    display: grid;
    grid-template-columns: repeat(10, 90px);
    column-gap: 10px;
    justify-content: center; } }

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .categories-page-container {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    column-gap: 10px;
    justify-content: center; } }

@media (min-width: 668px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .categories-page-container {
    display: grid;
    grid-template-columns: repeat(10, 55px);
    column-gap: 5px;
    justify-content: center; } }

@media (min-width: 1px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .categories-page-container {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    column-gap: 5px;
    justify-content: center; }
  .categories-title-container
.categories-content-container {
    grid-column-start: 1;
    grid-column-end: 11; } }

@media (min-width: 1px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .categories-page-container {
    display: grid;
    grid-template-columns: repeat(10, 25px);
    column-gap: 5px;
    justify-content: center; }
  .categories-title-container
.categories-content-container {
    grid-column-start: 1;
    grid-column-end: 11; } }
