// colors

$white: #fff;
$black: #141414;
$gray: #727272;

// type
$sans-serif:  Arial, "Helvetica Neue", Helvetica, sans-serif;

// measurements

$xsmall: 5px;
$small: 10px;
$medium: 20px;
$large: 40px;
$xlarge: 80px;

// grid measurements
$wrapperWidthDesktop: 1200px;
$wrapperWidthTablet: 960px;
$wrapperWidthTabletPortrait: 720px;
$wrapperWidthMobile: 600px;
$wrapperWidthMobilePortrait: 360px;

// grid columns:  These are for the page/device layout
$desktopCols: 10;
$tabletCols: 8;
$tabletPortCols: 6;
$mobileCols: 5;
$mobilePortCols: 3;

// Breakpoints

$desktop: screen and (min-width: 1025px);

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

$tablet: 'screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)';

$tabletPortrait: 'screen and (min-width: 768px) and (max-width: 1024px)  and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)';

$tabletLandscape: 'screen and (min-width: 768px) and (max-width: 1024px)  and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)';

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
$mobile: '(min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2)';

$mobilePortrait: '(min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)';

$mobileLandscape: '(min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)';
