/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* 
$buttonProps: (
  backgroundColor: [SOMEVALUE],
  border: [SOMEVALUE],
  color: [SOMEVALUE],
  backgroundHover: [SOMEVALUE],
  borderHover: [SOMEVALUE],
  colorHover: [SOMEVALUE],
);
*/
