@import '../../stylesheets/Master.scss';

body,
html {
  font-family: $sans-serif;
  font-size: 16px;
  color: $black;
  background-color: $white;
}

.app {
  text-align: center;
}

.app-text {
  font-weight: 700;
  font-size: 1.25em;
}

.button-wrapper {
  height: auto;
  width: 200px;
  display: block;
  margin: 5px auto;
}