@import '../../stylesheets/Master.scss';

body,
html {
  font-family: $sans-serif;
  font-size: 16px;
  color: $black;
  background-color: $white;
}

.app {
  @include GridSystem($desktopCols);
}

.app-text {
  font-weight: 700;
  font-size: 1.25em;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.button-wrapper {
  height: auto;
  width: 200px;
  display: block;
  margin: $xsmall auto;
}


@media #{$tablet} {
  .app {
    @include GridSystem($tabletCols);
  }
}

@media #{$tabletPortrait} {
  .app {
    @include GridSystem($tabletPortCols);
  }
}

@media #{$mobile} {
  .app {
    @include GridSystem($mobileCols);
  }
}

@media #{$mobilePortrait} {
  .app {
    @include GridSystem($mobilePortCols);
  }
}
