@import '../Variables.scss';

// basic styles
p {
 text-align: justify;
 justify-content: auto;

 &:after {
  content: "";
  display: inline-block;
  width: 100%;
 } 
}

@mixin Type400($color: $black) {
  font-weight: 400;
  color: $color;
  font-family: $sans-serif;
}

@mixin Type500($color: $black) {
  font-weight: 500;
  color: $color;
  font-family: $sans-serif;
}

@mixin Type700($color: $black) {
  font-weight: 700;
  color: $color;
  font-family: $sans-serif;
}

@mixin Type900($color: $black) {
  font-weight: 900;
  color: $color;
  font-family: $sans-serif;
}

// type treatments
@mixin TitleBold($typeColor: $black) {
  @include Type700($typeColor);
  line-height: 1.1em;
  text-align: center;
}

@mixin TitleExtraBold($typeColor: $black) {
  @include Type900($typeColor);
  line-height: 1.1em;
  text-align: center;
}

@mixin BodyType($typeColor: $black) {
  @include Type400($typeColor);
  line-height: 1.1em;
}
